.page {
  /* min-height: 100vh;              ✅ CLAIM THE VIEWPORT */
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 66px;
}

.container {
    width: 1040px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}