/* *, *::before, *::after {
  box-sizing: border-box;
} */

.date-card {
    box-sizing: border-box;
    border-radius: 33px;
    border: 1px solid #FFF;
    background: linear-gradient(116deg, rgba(255, 255, 255, 0.66) 11.18%, rgba(255, 255, 255, 0.30) 84.34%);

    /* shadow+backblur */
    box-shadow: 0 2px 10.5px 0 rgba(0, 0, 0, 0.25);
    backdrop-filter: blur(98.6500015258789px);

    width: 157px;
    min-width: 100px;
    height: 135px;
    min-height: 100px;
    flex-shrink: 1;

    padding: 16px 12px;
}

.date-box {
    display: flex;
    max-width: 125px;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
}

.today {
    align-self: stretch;
    color: #343434;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.date-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-self: stretch;
}

.date-day-month {
    color: #343434;
    font-family: Inter;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.date-year-day {
    display: flex;
    max-width: 29px;
    flex-direction: column;
    align-items: flex-start;
    gap: 5px;
}

.date-year {
    max-width: 77px;

    color: #000;
    text-align: center;
    font-family: Inter;
    font-size: 10px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;

    opacity: 0;
    transition: opacity 0.3s ease;
}

.date-day {
    max-width: 77px;
    color: #000;
    text-align: center;
    font-family: Inter;
    font-size: 10px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;

    opacity: 0;
    transition: opacity 0.3s ease;
}

p {
    margin: 0;
}

.date-card:hover .date-day,
.date-card:hover .date-year {
    opacity: 1;
}

@media (max-width: 600px) {
    .date-card {
        border-radius: 24px;
        /* slightly tighter radius feels better at small sizes */

        width: 100%;
        aspect-ratio: 1 / 1;
    }

    .date-day-month {
        font-size: 16px;
    }
}