.logout-button {
    width: 66px;
    height: 28px;

    

    background-color: transparent;

    border-radius: 15px;
    border: 1px solid #343434;

    color: #343434;
    
    text-align: center;
    font-family: Inter;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}