html,
body {
    height: 100%;
    margin: 0;
    display: flex;
    justify-content: center;
    /* horizontal centering */
    align-items: center;
    /* vertical centering */
    font-family: Inter;
    background-attachment: fixed;
}

body {
    overflow-x: clip;   /* instead of overflow-x: hidden */  /* add this — catches any remaining overflow */
}

p {
    margin: 0;
}

a {
  text-decoration: none;
}

.about-body {
    position: relative;
    background-image: url("/about-bg.png");
    background-repeat: no-repeat;
    /* prevents tiling */
    background-size: cover;
    /* makes it fill the screen */
    background-position: center;
    /* centers the image */

}

.fullscreen-body {
    background-image: url("/editor-bg.png");
    background-repeat: no-repeat;
    /* prevents tiling */
    background-size: cover;
    /* makes it fill the screen */
    background-position: center;
    /* centers the image */
     background-attachment: fixed;
}

.day-body, .month-body, .year-body {
    background-image: url("/dashboard-bg.png");
    background-repeat: no-repeat;
    /* prevents tiling */
    background-size: cover;
    /* makes it fill the screen */
    background-position: center;
    /* centers the image */
    background-attachment: fixed;
}

.login-body, .signup-body {
    background-image: url("/login-signup-bg.png");
    background-repeat: no-repeat;
    /* prevents tiling */
    background-size: cover;
    /* makes it fill the screen */
    background-position: center;
    /* centers the image */
    
}

.profile-body {
    background-image: url("/profile-bg.png");
    background-repeat: no-repeat;
    /* prevents tiling */
    background-size: cover;
    /* makes it fill the screen */
    background-position: center;
    /* centers the image */

}

.landing-body {
    background-image: url("/landing-bg.png");
    background-repeat: no-repeat;
    /* prevents tiling */
    background-size: cover;
    /* makes it fill the screen */
    background-position: center;
    /* centers the image */
    
}

.day-body {
    display: block; /* overrides body's flex centering */
  justify-content: unset;
  align-items: unset;
  padding-top: 120px;
}

.about-body,
.profile-body {
  display: block; /* overrides body's flex centering */
  justify-content: unset;
  align-items: unset;
  padding: 134px 0;
}