#root {
    height: 100%;
    width: 100%;
}

.fullscreen-editor-form {
    display: flex;
    flex-direction: column;
    flex: 1;
    height: 100%;
    /* width: 100%; */
    margin: 0 120px;
    border: none;
    outline: none;
    background: transparent;
}

.input-title-fullscreen {
    color: #343434;
    font-family: Inter;
    font-size: 40px;
    font-weight: 700;
    margin-bottom: 0;
    border: none;
    outline: none;
    background: transparent;
    width: 100%;
    resize: none;
}

.editor-window {
    font-family: Inter;
    border: none;
    outline: none;
    background: transparent;

}

.date-and-expand {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: baseline;
    margin-top: 142px;
}

.display-date {
    color: #747474;
    font-family: Inter;
    font-size: 20px;
    font-weight: 300;
}

.okay-button {
    margin-bottom: -2px;
}

.small-tick {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 28px;
    height: 28px;
    padding-bottom: 4px;
}

/* Custom Floating Toolbar */
.custom-toolbar {
    position: fixed;
    bottom: 50px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    /* gap: 12px; */
    padding: 16px 16px;
    border-radius: 46px;
    /* backdrop-filter: blur(12px);
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15); */
    z-index: 100;

    width: 498px;
justify-content: space-between;
align-items: center;
}

.custom-toolbar button {
    background: white;
    border: none;
    width: 62px;
    height: 30px;
    cursor: pointer;
    font-family: Inter;
    font-weight: bold;
    font-size: 18px;
    border-radius: 24px;
background: #FFF;

/* primary-shadow */
box-shadow: 0 2px 10.5px 0 rgba(0, 0, 0, 0.25);
    display: flex;
    justify-content: center;
    align-items: center;
    transition: transform 0.2s;
}

.custom-toolbar button:hover {
    transform: scale(1.2);
}

.toolbar-icon.italic {
    font-style: italic;
}

.toolbar-icon.underline {
    text-decoration: underline;
}

/* Color Picker Dropdown */
.color-picker {
    position: relative;
}

.color-btn {
    width: 36px;
    height: 36px;
    border-radius: 50%;
    border: none;
    cursor: pointer;
    background: white;
    font-weight: bold;
}

.color-options {
    display: flex;
    position: absolute;
    bottom: 50px;
    left: 50%;
    transform: translateX(-50%);
    gap: 6px;
    padding: 6px 8px;
    border-radius: 30px;
    background: white;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);
    opacity: 0;
    visibility: hidden;
    transition: all 0.2s;
}

.color-picker:hover .color-options {
    opacity: 1;
    visibility: visible;
}

.color-circle {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    cursor: pointer;
    border: 1px solid #ccc;
}

*:focus {
    outline: none !important;
}

*:focus-visible {
    outline: none !important;
}