.container {
    display: flex;
    width: 1040px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 36px;
    margin-top: 134px;
}

.month-component {
    display: flex;
    width: 1040px;
    flex-direction: column;
    align-items: flex-start;
    gap: 24px;
}

.month {
    color: #343434;
    font-family: Inter;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.days-collection {
    display: grid;
    height: 820px;
    row-gap: 20px;
    column-gap: 20px;
    align-self: stretch;
    grid-template-rows: repeat(6, minmax(0, 1fr));
    grid-template-columns: repeat(7, minmax(0, 1fr));
}

.empty-day {
  visibility: hidden; /* keeps space but hides box */
}

.weekdays {
    /* border: 1px solid #343434; */
  border-radius: 28px;
    display: flex;
padding: 10px 0;
justify-content: space-between;
align-items: flex-start;
align-self: stretch;

p {

width: 131px;
    color: #343434;
text-align: center;
font-family: Inter;
font-size: 20px;
font-style: normal;
font-weight: 500;
line-height: normal;
}

}

.year-month {
    color: #343434;
font-family: Inter;
font-size: 14px;
font-style: normal;
font-weight: 400;
line-height: normal;
}
