.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 48px;
}

.line {
    width: 27px;
    height: 1px;
    background-color: #343434;
}

.or-divider {
    display: flex;
    align-items: center;
    gap: 11px;
}

.or-text {
    color: #343434;
    text-align: center;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 200;
    line-height: normal;
}

.go-to-dashboard {
    width: 334px;
    height: 63px;
    flex-shrink: 0;

    border-radius: 33px;
    background: #343434;
    box-shadow: 0 2px 10.5px 0 rgba(0, 0, 0, 0.25);
    border-style: none;

    color: #FFF;
    text-align: center;
    font-family: Sora;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.big-inviting-button {
    width: 575px;
    height: 350px;
    flex-shrink: 0;

    display: flex;
    padding: 0;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    border-radius: 35px;
    border: 1px solid #FFF;
    background: linear-gradient(116deg, rgba(255, 255, 255, 0.66) 11.18%, rgba(255, 255, 255, 0.30) 84.34%);
    box-shadow: 0 2px 10.5px -1px rgba(0, 0, 0, 0.25);
    backdrop-filter: blur(98.6500015258789px);
}

.inner-text {
    /* display: flex; */
    width: 420px;
    height: 56px;
    /* flex-direction: column;
justify-content: center; */
    align-self: center;
    flex-shrink: 0;

    color: #000;
    text-align: center;
    font-family: Inter;
    font-size: 32px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
}

.inner-subtitle {
    display: flex;
    height: 35px;
    flex-direction: column;
    justify-content: center;
    align-self: stretch;

    color: #000;
    text-align: center;
    font-family: Inter;
    font-size: 20px;
    font-style: italic;
    font-weight: 100;
    line-height: normal;
}

.mind {
    background: linear-gradient(100deg, #000 7.85%, #0075DB 58.17%, #ff8ed4 80.27%);
    background-clip: text;
    background-size: 110%;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-family: Inter;
    font-size: 32px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
}